<div class="container">
  <div class="row">
    <div class="col-12">
      <p class="d-inline-block bg-light lead px-3 ml-4 mt-3">information</p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-2">
      <table class="table table-borderless">
        <tr>
          <th class="border-bottom">スポーツ</th>
        </tr>
      <% @sport.each do |sport| %>
        <tr>
          <td><%= sport.name %></td>
        </tr>
      <% end %>
      </table>
    </div>
    <div class="col-8">
      <table class="table table-bordered">
        <thead>
          <tr>
            <td>投稿日時</td>
            <td>タイトル</td>
            <td>詳細</td>
          </tr>
        </thead>
      <% @informations.each do |information| %>
        <tbody>
          <tr>
            <td><%= information.create_at %></td>
            <td><%= information.title %></td>
            <td><%= information.introduction %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-2">
      <table class="table table-bordered">
        <tr>
          <th>都道府県</th>
        </tr>
        <% @prefecture.each do |prefecture| %>
        <tr>
          <td><%= prefecture.enum.name %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>