<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
      <h4 class="bg-light px-4 d-inline-block my-3 ml-3">詳細ページ</h4><br>
      <h5><%= @information.title %></h5>
      <div class="border-bottom"></div><br>
      <%=safe_join(@information.introduction.split("\n"),tag(:br))%>
      <div class="mt-5">
         <%= form_with model: [@information,@comment] do |f| %>
         <%= f.text_area :text, rows: '5', placeholder: "Comment", size: "35x2" %>
         <%= f.submit "Comments",class:"btn btn-outline-dark btn-sm mb-4" %>
        <% end %>
    </div>
      </div>
    <div class="col-6">
      <table>
        <% @information.comments.each do |comment| %>
        <tr>
          <td class="border-bottom">
             <div class="pb-1"><%= comment.customer.name %></div><br>
             <%= comment.text %><p class="ml-5 text-right">
               <%= comment.created_at.strftime('%Y/%m/%d') %>
               <% if comment.customer == current_customer %>
                <%= link_to "削除", information_comment_path(comment.information, comment), method: :delete,class:"btn btn-outline-danger btn-sm" %>
              <% end %>
              </p>
             <% end %>
            <div>
          </div>
          </td>
        </tr>
      </table>
      <p class="text-secondary text-right">コメント件数：<%= @information.comments.count %></p>
  </div>
</div>