<div class="container">
  <div class="row">
    <div class="col-12">
      <p class="mt-3 ml-3 lead bg-light d-inline-block">プロフィール編集</p>
        <%= form_with model: @customer,url: customer_path(@customer),method: :patch do |f| %>
      <table class="mx-auto">
        <tr>
          <td class="pt-3">
            <%= f.label :name,"名前" %><br>
            <%= f.text_field :name,:size=>'30',class:"ml-4 form-control form-control-sm" %>
          </td>
        </tr>
        <tr>
          <td class="pt-3">
            <%= f.label :emai,"Eメール" %><br>
            <%= f.text_field :email,:size=>'30',class:"ml-4 form-control form-control-sm" %>
          </td>
        </tr>
        <tr>
          <td class="pt-3">
            <%= f.label :prefecture,"出身地" %><br>
            <%= f.select :prefecture, Customer.prefectures.keys, {},class:"form-control form-control-sm ml-4" %>
          </td>
        </tr>
        <tr>
          <td class="text-center">
            <%= f.submit "Edit",class:"btn btn-success btn-sm px-4 mt-3" %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>