<div class="container">
  <div class="row mt-4">
    <div class="col-12">
      <h4 class="d-inline-block px-4 mt-3 ml-3 bg-light mb-5">スポーツジャンル</h4>
      <table>
      <%= form_with model: @sport,url: admin_sport_genres_path,method: :post do |f| %>
        <tr>
          <td>
            <%= f.label :name,"スポーツジャンル登録" %>
            <%= f.text_field :name %>
            <%= f.submit "登録",class:"btn btn-success btn-sm px-3" %>
          </td>
        </tr>
      <% end %>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-5 mb-3">
      <table class="table-bordered my-3">
        <thead>
          <tr>
            <td class="pr-5">スポーツ名</td>
            <td colspan="2"></td>
          </tr>
        </thead>
        <tbody>
          <% @sports.each do |sport| %>
          <tr>
            <td class="p-2"><%= sport.name %></td>
            <td class="py-2 px-4">
              <%= link_to "編集",edit_admin_sport_genre_path(sport),class:"btn btn-success btn-sm px-3" %>
              <%= link_to "削除",admin_sport_genre_path(sport),method: :delete,class:"btn btn-danger btn-sm px-3" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>