<!DOCTYPE html>
<html>
  <head>
    <title>SportInformation</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/936e751774.js" crossorigin="anonymous"></script>
  </head>

  <body class="d-flex flex-column vh-100 ">
    <header class="shadow-sm  fixed-top bg-white">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand p-3 h1 " href="/">Sport_information</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if customer_signed_in? %>
            <li class="nav-item">
              <%= link_to 'マイページ',customer_mypage_path,class:"nav-link text-dark btn btn-outline-dark" %>
            </li>
            <li class="nav-item">
              <%= link_to '情報一覧',informations_path, class: 'nav-link text-dark btn btn-outline-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to '保存一覧', favorite_path(current_customer), class: 'nav-link text-dark btn btn-outline-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'nav-link text-dark btn btn-outline-dark' %>
            </li>
            <% elsif admin_signed_in? %>
            <li>
              <%= link_to "情報一覧",admin_informations_path, class: 'nav-link text-dark btn btn-outline-dark' %>
            </li>
            <li>
              <%= link_to"会員一覧",admin_customers_path, class: 'nav-link text-dark btn btn-outline-dark' %>
            </li>
            <li>
              <%= link_to "スポーツ登録",admin_sport_genres_path, class: 'nav-link text-dark btn btn-outline-dark' %>
            </li>
            <li>
              <%= link_to "場所登録",admin_prefecture_genres_path, class: 'nav-link text-dark btn btn-outline-dark' %>
            </li>
            <li>
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-dark btn btn-outline-dark' %>
            </li>
            <% else %>
            <li class="nav-item">
              <%= link_to "Home",root_path,class:"nav-link text-dark btn btn-outline-dark" %>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録", new_customer_registration_path, class: 'nav-link text-dark btn btn-outline-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_customer_session_path, class: 'nav-link text-dark btn btn-outline-dark' %>
            </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="mb-auto pb-5">
      <div class="pb-5 d-block"> </div>
      <div class="pb-5 d-block"> </div>
    <%= yield %>
    </main>
    <footer class="bg-dark text-white fixed-bottom  pt-3 pb-4">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-12 text-center">
            <% if current_customer %>
            <%= link_to new_information_path do %>
            <i class="fa-regular fa-square-plus h3 text-white"></i>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
